// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/posts-list/posts-list";
@import "../pages/post/post";
@import "../pages/post-edit/post-edit";
@import "../pages/sign-up/sign-up.scss";

@media (min-width: 960px) {
  ion-nav ion-page ion-content {
      width: 960px;
      margin: 0 auto;
      position: relative;
  }
}
